#mainLogo{
    width: 300px !important;
    
}

.navbar-main{
    flex-direction: column !important;
    position: sticky;
   
}



@media only screen and (max-width:600px) {
    #mainLogo{
        width: 200px !important;
        
    }
    .navbar-main{
        flex-direction: row-reverse !important;
        padding: auto 20px !important;
        border: 1px solid red;
    }

    .mobail-menu{
        position: absolute;
        top:40px;
        left: 20px;
    }
}
  